@font-face {
    font-family: 'Open Sans ApiTon';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body {
    background-color: #f5f5f5;
    padding: .5em;
    font-family: 'Open Sans ApiTon';
}