@font-face {
    font-family: 'Inter Ton';
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    font-family: 'Inter Ton';
}

body {
    background-color: #F7F9FB;
    padding: .5em;
}

.ton-connect-btn {
    font-family: 'Inter Ton';
}

.none {
    display: none;
    visibility: hidden;
}